body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

h1 {
margin-left: 70px;
font-size: 70px;
text-decoration: underline;
}

p {
    margin-left: 50px;
    font-weight: bold;
    font-size: x-large;
    padding-top: 1cm;
    padding-bottom: 0.5cm;
    }

form li {
list-style: none;
margin-bottom: 25px;
}

form ul li label{
float: left;
clear: left;
width: 100px;
text-align: right;
margin-right: 15px;
font-size:20px;
}

form ul li input, span {
float: left;
margin-bottom: 20px;
}

[type="submit"] {
clear: left;
margin: 20px 0 0 230px;
font-size:28px
}